<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>商品の詳細表示</h1>
    <table border="1">
      <tr>
        <th>商品名</th>
        <td>{{ item.name }}</td>
      </tr>
      <tr>
        <th>商品の色</th>
        <td>{{ item.color }}</td>
      </tr>
      <tr>
        <th>メーカー名</th>
        <td>{{ item.manufacturer }}</td>
      </tr>
      <tr>
        <th>価格</th>
        <td>{{ item.price }}</td>
      </tr>
      <tr>
        <th>在庫数</th>
        <td>{{ item.stock }}</td>
      </tr>
    </table>

    <form action="{% url 'shopping:add_to_cart' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="item_id" value="{{ item.item_id }}" />
      <br />
      数量<input type="number" name="amount" value="1" />
      <br />
      <input type="submit" value="ショッピングカートに入れる" />
    </form>

    <a href="/shopping/">商品検索</a>へ
  </body>
</html>
