<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>商品の検索を行います。</h1>
    <form action="/shopping/search" method="get">
      <label for="search_category">カテゴリ:</label>
      <select name="search_category" id="search_category">
        <option value="0">すべて</option>
        {% for category in categories %}
        <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
      </select>
      <label for="search_name">キーワード</label>
      <input type="text" name="search_name" id="search_name" />
      <input type="submit" value="検索" />
    </form>

    <br />
    {% if is_login %}
    <a href="{% url 'shopping:cart' %}"> ショッピングカートを見る </a>
    {% else %}
    <a href="{% url 'account:login' %}"> ショッピングカートを見る </a>
    {% endif %}
    <br />
    <a href="#"> 購入履歴 </a>
    <br />
    {% if is_login %}
    <a href="{% url 'account:logout' %}"> ログアウト </a>
    {% else %}
    <a href="{% url 'account:login' %}"> ログイン </a>
    {% endif %}
    <br />
    <a href="#"> 管理者ページ </a>
  </body>
</html>
