<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>会員情報を入力してください</h1>

    <form action="{% url 'account:registerUser' %}" method="post">
      {% csrf_token %}
      <table>
        <tr>
          <td>会員ID</td>
          <td>
            <td>{{ form.user_id }}</td>
          </td>
        </tr>
        <tr>
          <td>パスワード</td>
          <td>
            <td>{{ form.password }}</td>
          </td>
        </tr>
        <tr>
          <td>パスワード確認</td>
          <td>
            <td>
              <input type="password" name="password_confirm" />
          </td>
        </tr>
        <tr>
          <td>お名前</td>
          <td>
            <td>{{ form.name }}</td>
          </td>
        </tr>
        <tr>
          <td>ご住所</td>
          <td>
            <td>{{ form.address }}</td>
          </td>
        </tr>
        <tr>
          <td colspan="2"><button type="submit">登録確認</button></td>
        </tr>
      </table>
    </form>

    <a href="/shopping/main">商品検索</a>へ
  </body>
</html>
