<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>会員情報</h1>
    <table>
      <tr>
        <td>会員ID</td>
        <td>{{ user.user_id }}</td>
      </tr>
      <tr>
        <td>パスワード</td>
        <td>表示なし</td>
      </tr>
      <tr>
        <td>お名前</td>
        <td>{{ user.name }}</td>
      </tr>
      <tr>
        <td>ご住所</td>
        <td>{{ user.address }}</td>
      </tr>
    </table>
    <a href="/account/updateUser/">会員情報の変更</a>
    <a href="/shopping/">商品検索</a>へ
  </body>
</html>
